
a. Друго
2011 6 dec
/PROGRAMING/C# - PART I/7.ExamPrep/2011 7 dec
2011-2012 sample exam
2011-2012 test exam
2012 27 dec
2012 29 dec
2013 23 june
2013 24 june
prolet
proverqvane
winter 2012
bin
obj
Въведение
Отборна работа
javascript-and-jquery-jul-2014
myExamples
/JS BOOK/*.pdf
/JS BOOK/*.zip
*.psd
*.zip*.rar
*.zip
*.rar
ocenqvane
*.pptx
*.docx
Tests
Tasks from chapter 7
Telerik-Academy-Tasks-master
*.snippet
*.png
*.jpg
*.exe
*.dll
2013 5 dec
2013 5 dec evning
2013 6 dec
2013 6 dec evning
CSharp-Basics-Exam-19-Dec-2014
*.pdf
*.doc
*.avi
experiment
Games
CSharpConsoleGames
Object-Oriented-Programming-master
TEAM WORK
Team work
ArmyOfCreatures-All
aFarkas-html5shiv-2f42e3b
04. Семантичен HTML
dom.txt.txt
*.suo
*.mp4
JavaScript-OOP
04. JS-OOP
/PROGRAMING/HQC/Microsoft.Press.Code.Complete.2nd.Edition.Jun.2004
bower_components
/PROGRAMING/C# - PART II/03. Methods/homework/Unit-Testing-Demos
Tasks from chapter 13
/PROGRAMING/C# - PART II/08. String and Text Processing/Space+.txt
/PROGRAMING/*.epub
02.DcreasingAbs
2012 7 feb
2012 8 feb
2012-13 4 feb Morning
2012-13 5 feb 2013
2012-13 11 feb 2013
2013-14 14 sept 2013 Evning
2013-14 14 sept 2013 Morning
2014-01-22
2014-01-24
2011-12 Sample Exam
2011-12 Test Exam
2012 6 feb
Variant 3 (2015-03-06, Morning)
digits.txt
revelance.txt
unicode
C# OOP
HQC-Teamwork-Baloons-Pop-6
/PROGRAMING/HQC/High-Quality-Code
05. JS-UI-DOM
Homework
LESS-demos
CSS-layout-demos
00
01
02
03
04
variant-2-solution
gradient.txt
Task 1_Description
Task 2_Description
style.css
/Terelik.txt
Practical Exam - April 2013 - Variant 1
Practical Exam - April 2013 - Variant 2
Variant 1 (2014-05-19)
Variant 2 (2014-05-20)
WEB DEVELOPMENTA
node_modules/
js
.idea/
.idea
checkIfVacantSecondPlace.txt
Best of Sublime Text 3: Features, Plugins, and Settings ♥ Scotch.html
Best of Sublime Text 3: Features, Plugins, and Settings ♥ Scotch_files
*.xml
*.pdf
web development
