html,
body,
div,
header,
nav,
ul,
li {
  margin: 0;
  padding: 0;
}
/* -------------------------------------------- */
body {
  font: 18px normal 'Arial Narrow';
  color: black;
}
a:link,
a:hover,
a:visited {
  font: 18px normal 'Arial Narrow';
  color: black;
  text-decoration: none;
  padding: 0.2em;
}
#wrapper {
  height: 5em;
  background: #002e45;
  /* Old browsers */
  background: -moz-linear-gradient(top, #002e45 0%, #77d0fe 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #002e45), color-stop(100%, #77d0fe));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #002e45 0%, #77d0fe 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #002e45 0%, #77d0fe 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #002e45 0%, #77d0fe 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #002e45 0%, #77d0fe 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
}
#wrapper header nav {
  padding: 1em;
}
#wrapper header nav ul {
  position: relative;
}
#wrapper header nav ul li {
  display: inline-block;
}
#wrapper header nav ul li:hover {
  border-radius: 5px;
  background-color: rgba(13, 86, 123, 0.9);
}
#wrapper header nav ul li ul {
  display: none;
}
#wrapper header nav ul li.selected {
  border-radius: 5px;
  background-color: rgba(31, 74, 97, 0.9);
}
#wrapper header nav ul li.selected ul {
  display: inline-block;
  position: absolute;
  margin-top: -0.1em;
}
#wrapper header nav ul li.selected ul li:hover {
  border-radius: 5px;
  background-color: rgba(20, 96, 135, 0.9);
}
#wrapper header nav ul li.selected ul li:hover ul {
  display: block;
  background: #fdfeff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fdfeff 0%, #77d1ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfeff), color-stop(100%, #77d1ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fdfeff 0%, #77d1ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fdfeff 0%, #77d1ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fdfeff 0%, #77d1ff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fdfeff 0%, #77d1ff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border-radius: 5px;
  padding: 0.5em;
}
#wrapper header nav ul li.selected ul li:hover ul li {
  display: block;
  border-bottom: 1px solid black;
}
#wrapper header nav ul li.selected ul li:hover ul li:last-child {
  border-bottom: none;
}
#wrapper header nav ul li.selected ul li ul {
  display: none;
}
