body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: 'Times New Roman';
}
body div#wrapper {
  width: 500px;
}
body div#wrapper ul#popup-box {
  margin: 1em;
  list-style-type: none;
  width: 90px;
}
body div#wrapper ul#popup-box li {
  border-top: 1px solid black;
  padding: 0.2em;
  position: relative;
}
body div#wrapper ul#popup-box li:last-child {
  border-bottom: 1px solid black;
}
body div#wrapper ul#popup-box li a {
  text-decoration: none;
}
body div#wrapper ul#popup-box li a span {
  color: #474241;
}
body div#wrapper ul#popup-box li a span.current {
  font-weight: bold;
}
body div#wrapper ul#popup-box li a img {
  width: 1.2em;
  height: 1.2em;
}
body div#wrapper ul#popup-box li div.popup-content {
  position: absolute;
  left: 100px;
  top: 0px;
}
body div#wrapper ul#popup-box li div.popup-content a.btn-popup-close {
  position: absolute;
  right: 20px;
  top: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.1em 0.3em;
  color: black;
}
body div#wrapper ul#popup-box li div.popup-content a.btn-popup-close:hover {
  text-decoration: underline;
}
body div#wrapper ul#popup-box li div.popup-content div fieldset legend {
  font-weight: bold;
}
body div#wrapper ul#popup-box li div.popup-content div fieldset button {
  background: #cacaca;
  /* Old browsers */
  background: -moz-linear-gradient(top, #cacaca 0%, #686868 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cacaca), color-stop(100%, #686868));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cacaca 0%, #686868 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cacaca 0%, #686868 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cacaca 0%, #686868 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cacaca 0%, #686868 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border: 0px;
  color: #333;
  border-radius: 20px;
  padding: 0.5em;
  font-size: 0.8em;
}
body div#wrapper ul#popup-box li div.popup-content div fieldset button:hover {
  background: #ccc;
}
body div#wrapper ul#popup-box li div.invisible {
  display: none;
}
