body,
ul,
h1,
li,
p {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
}
body div#wrapper {
  width: 960px;
}
body div#wrapper div {
  margin: 1em;
  display: inline-block;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee 0%, #aaaaaa 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #eeeeee 0%, #aaaaaa 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border: 1px solid black;
  border-radius: 10px;
}
body div#wrapper div h1 {
  margin: 0.5em;
  color: #555;
}
body div#wrapper div ul.messages-list {
  display: block;
  list-style-type: none;
}
body div#wrapper div ul.messages-list li {
  color: #555;
  padding: 0 0.5em;
}
body div#wrapper div ul.messages-list li span {
  font-weight: bold;
  font-size: 1.1em;
}
body div#wrapper div ul.messages-list li.me-item {
  margin: 10px 10px 10px 160px;
  background: #2bedff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2bedff 0%, #befaff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2bedff), color-stop(100%, #befaff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2bedff 0%, #befaff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2bedff 0%, #befaff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2bedff 0%, #befaff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2bedff 0%, #befaff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border: 1px solid #3f3f3f;
  border-radius: 10px;
}
body div#wrapper div ul.messages-list li.me-item span.date {
  font-size: small;
  font-weight: normal;
  margin-left: 110px;
}
body div#wrapper div ul.messages-list li.toshko-item {
  background: #dfffd2;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dfffd2 0%, #73ff3f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfffd2), color-stop(100%, #73ff3f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dfffd2 0%, #73ff3f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dfffd2 0%, #73ff3f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dfffd2 0%, #73ff3f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dfffd2 0%, #73ff3f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
  border-radius: 10px;
  border: 1px solid #3f3f3f;
  margin: 10px 160px 10px 10px ;
}
body div#wrapper div ul.messages-list li.toshko-item span:first-child {
  margin-left: 160px;
}
body div#wrapper div ul.messages-list li.toshko-item span.date {
  font-family: Consolas;
  font-size: small;
  font-weight: normal;
}
body div#wrapper div input {
  width: 65%;
  margin: 0.5em 0 0.5em 1em;
}
body div#wrapper div input[type="text"] {
  background: #eee;
  border-radius: 5px;
  border: 0px;
  color: #555;
  padding: 1em;
}
body div#wrapper div button {
  padding: 0.3em 1em;
  border-radius: 5px;
  border: 0px;
  font-size: 1.2em;
  background: #ececec;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ececec 0%, #aeaeae 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #aeaeae));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ececec 0%, #aeaeae 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ececec 0%, #aeaeae 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ececec 0%, #aeaeae 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ececec 0%, #aeaeae 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from-color', endColorstr='@to-color', GradientType=0);
  /* IE6-9 */
}
body div#wrapper div button:hover {
  background: #eee;
}
