body {
    background-color: #b2b09d;
    background-image: url(images/grass.png);
    background-position: right top;
    background-repeat: no-repeat;
    font-size: 14px;
    font-family: Arial;
}
/* ---------- TABLE ----------- */
table {
    background-color: #595959;
    border-collapse: collapse;
    margin: 10% auto auto 35%;
    border-radius: 1.5em;
}
th {
    font-size: 2em;
    color: #b2b09d;
    font-weight: 100;
    /* border-bottom: 1px solid #a7aba7; */
}
tbody tr td {
    padding: 0.5em;
}
/* ------- ID STYLING --------- */
.description {
    font-size: 1em;
    color: #e7e8e8;
    font-style: italic;
    vertical-align: text-top;
}
.name:before {
    content: url("images/online.png");
    margin-right: 2px;
}
.yellow-text, .yellow-text a:link {
    color: #e4df9f;
}
a:visited {
    color: #aaa462;
}
#support {
    color: red;
    font-weight: bold;
}
.grey-text {
    color: #a7aba7;
}
#status {
    color: #ff6a00;
    font-weight: bold;
}
#div-spacing div {
    margin-bottom: 0.5em;
}